@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: theme("fontFamily.sans");
}

body {
  background-color: #01040A; /* Warna dasar */
  color: white; /* Warna teks default */
}
